<h2 class="text-center text-danger my-5">Choping Cart</h2>
<div *ngIf="this.shopCartService.products.length===0">
  <div class="alert alert-primary my-5" role="alert">
    The Shopping Cart is empty!!!
  </div>
</div>

<div *ngIf="!(this.shopCartService.products.length===0)">

  <table class="table table-striped table-bordered border my-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th>Price*Quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of this.shopCartService.products">
        <td scope="col">{{product.id}}</td>
        <td scope="col">{{product.name}}</td>
        <td scope="col">{{product.price}}€</td>
        <td scope="col">{{product.qty}}</td>
        <td>{{(product.price * product.qty)}}€</td>
      </tr>
      <tr>
        <th colspan="4">Total:</th>
        <th>{{this.shopCartService.total}}€</th>
      </tr>
    </tbody>
  </table>
</div>
